.page.hat .descriptor .image {
  display: inline-block;
}

.page.hat .descriptor .title {
  display: inline-block;
  font-size: 5em;
  vertical-align: middle;
}

.page.hat .descriptor a {
  color: inherit;
}