@import url("send.css");

.page.hat .descriptor .image {
  display: inline-block;
}

.page.hat .descriptor .title {
  display: inline-block;
  font-size: 5em;
  vertical-align: top;
}

#canvas {
  padding-top: 30px;
}

.auth.dimmer .buttons {
  font-size: 5em;
}

.image.upload.index .files.to.upload {
  display: inline;
  padding: 0;
}

.image.upload.index .files.to.upload .image {
  vertical-align: top;
  height: 150px;
  overflow: hidden;
}

.image.upload.placeholder {
  border-style: dashed;
  border-width: 3px;
  border-color: rgb(200, 187, 187);
  color: rgb(200, 187, 187);
  width: 150px;
  height: 150px;
  position: relative;
  display: inline-block;
}

.image.upload.placeholder:hover {
  border-color: black;
  color: black;
}

.image.upload.placeholder > div {
  left: 50%;
  top: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.image.upload.placeholder .not.active.loader:before,
.image.upload.placeholder .not.active.loader:after {
  border-color: transparent transparent transparent;
}

.image.upload.placeholder .icon.plus {
  color: inherit;
  font-size: 2em;
  margin: 2px 0 0 -1px;
}

body .talk.modal > .actions {
  padding-left: 0 !important;
  padding-right: 0 !important;
  padding-top: 0 !important;
}

.talk.modal .actions .button {
  vertical-align: top;
}

.ui.container {
  position: relative;
  margin: 0 auto;
  color: #898989;
  padding-right: 20px;
}

@media only screen and (max-width : 600px) {
  .ui.container {
    width: auto;
    margin: 0 1rem;
  }
}

@media only screen and (min-width : 600px) and (max-width : 998px) {
  .ui.container {
    width: auto;
    margin: 0 2rem;
  }
}

@media only screen and (min-width : 998px) {
  .ui.container {
    padding-left: 200px;
  }
}

@media only screen and (min-width : 998px) and (max-width: 1200px) {
  .ui.container {
  }
}

@media only screen and (min-width : 1200px) and (max-width: 1355px) {
  .ui.container {
  }
}

@media only screen and (min-width : 1355px) {
  .ui.container {
  }
}