<div class="ui items">
  <div class="item">
    <a class="ui small image">
      <img src="http://placehold.it/150x150">
    </a>
    <div class="content">
      <i class="right floated like link icon"></i>
      <i class="right floated star link icon"></i>
      <a class="header" href="/cp/adv(<%@ this.adv.id %>)"><%@ this.adv.name %></a>

      <div class="meta">
        <%= this.DeferRender(['user/link', this.adv.owner]) %>
        <a><%@ this.adv.snap %></a>
      </div>

      <div class="description">
        <p><%@ this.adv.descr %></p>
      </div>
      <div class='extra'>
          <div class="ui right floated primary button">
            Обменять
            <i class="right chevron icon"></i>
          </div>

        <div class='ui label'>
          <a>Категория1</a>
        </div>
        <div class='ui label'>
          <a>Категория2</a>
        </div>
      </div>
    </div>
  </div>
</div>