<div class="ui items">
  <div class="item">
    <a class="ui small image">
<%
images = this.adv.images;
if (images == null)
  images = ["/img/placeholder.png"];
%>
      <img src="<%@ images[0] %>">
    </a>
    <div class="content">
      <% this.DeferRender('blocks/adv/main', this) %>
    </div>
  </div>
</div>