<div class='my talks'>
  <h2>Активных разговоров <%@ this.list.length %></h2>
  <table class='ui table'>
  <%
  for (var k in this.list)
  {
    var v = this.list[k];
    var not_me = v.from == uid() ? v.to : v.from;
  %>
    <tr class='<%@ v.unread > 0 ? 'unread' : '' %>'>
      <td>
        <div class='ui segment interlocutor'>
          <% this.DeferRender('blocks/profile/avatar.by-uid', v) %>
          <div class='user name block'>
            <% this.DeferRender('blocks/profile/link.by-uid', {uid: v.from}) %>
            <br>
          </div>
        </div>
      </td>
      <td class='ui comments' data-tid='<%@ v.tid %>'>
        <% this.DeferRender('talk/comment.uid-only', {message: v}) %>
      </td>

      <td>
        <% this.DeferRender('blocks/adv/name.by-id', {id: v.adv}) %>
      </td>
      <td>
<% if (v.unread > 0) { %>
        <div class='ui red label unread'>
          <%@ v.unread %>
        </div>
<% } %>
      </td>
    </tr>
  <%
  }
  %>
  </table>
  <div class='draw place'>
  </div>
</div>

<%
this.first(function()
{
  var draw = this.find('.draw.place');

  this.find('.table .comments').click(function()
  {
    var url = ['/talk', $(this).attr('data-tid')];
    phoxy.ChangeHash(url);
    draw.html(phoxy.DeferRender(url));

    $(this).parents('tr').first().removeClass('unread');
    $('#envelope').html(phoxy.DeferRender('talk/Notifications'));
  })
})
%>