<div class='my talks'>
  <h2>Активных разговоров <%@ this.list.length %></h2>
  <table class='ui table'>
  <%
  for (var k in this.list)
  {
    var v = this.list[k];
    var not_me = v.from == uid() ? v.to : v.from;
  %>
    <tr>
      <td class='ui comments' data-tid='<%@ v.tid %>'>
        <% this.DeferRender('talk/comment.uid-only', {message: v}) %>
      </td>

      <td>
        <% this.DeferRender('blocks/adv/name.by-id', {id: v.adv}) %>
      </td>
      <td>
<% if (v.unread > 0) { %>
        <div class='ui red label'>
          <%@ v.unread %>
        </div>
<% } %>
      </td>
    </tr>
  <%
  }
  %>
  </table>
  <div class='draw place'>
  </div>
</div>

<%
this.first(function()
{
  var draw = this.find('.draw.place');

  this.find('.table .comments').click(function()
  {
    var url = ['talks', $(this).attr('data-tid')];
    draw.html(phoxy.DeferRender(url));
    phoxy.ChangeHash(url);
    return false;
  })
})
%>