<div class='page cake'>
  <div class='page slice'>
    <% this.DeferRender('main/head', {}) %>
  </div>
  <div class='delicious page slice'>
    <div id='root' class='ui container'>
      <div id='canvas'></div>
    </div>
  </div>
  <div class='page slice'>
    <% this.DeferRender('main/shoe', {}) %>
  </div>
</div>
