<div class='ui container page hat'>
  <div class='descriptor'>
    <a href='/'>
      <img class='ui tiny image' src='/img/logo.png' />
      <div class='title'>
        Еттти
      </div>
    </a>
  </div>

  <div class='description'>
    <span class='heading'>Бесплатный обмен товаров</span>
    Техника, одежда, ... и многое другое
  </div>

  <div class='ui menu'>
    <%= this.DeferRender('adv/categories') %>

    <div class='item'>
      <%= this.DeferRender('blocks/search/input', {}) %>
    </div>

    <div class='item'>
      <a href='/user' class='ui button'>Личный кабинет</a>
    </div>

    <div class='item'>
      <a href='/cp/adv' class='ui primary button'>Подать обьявление</a>
    </div>

    <div class='item'>
      <% this.DeferRender('blocks/messaging/notifications/envelope',
          uid() ? 'talk/Notifications' : {count: 0}) %>
    </div>
  </div>
</div>