<div class='ui container page hat'>
  <div class='descriptor'>
    <img class='ui tiny image' src='/img/logo.png' />
    <div class='title'>
      Обмен
    </div>
  </div>

  <div class='description'>
    <span class='heading'>Бесплатный обмен товаров</span>
    Техника, одежда, ... и многое другое
  </div>

  <div class='ui menu'>
    <div class='item'>
      <div class='ui search selection dropdown'>
        <div class='text'>Любая категория</div>
        <i class='dropdown icon'></i>
        <div class='menu'>
          <div class='header'>Большая категория</div>
          <div class='item'>Малая категория</div>
          <div class='item'>Малая категория</div>
        </div>
      </div>
    </div>

    <div class='item'>
      <div class='ui icon input'>
        <input placeholder="Найти" />
        <i class='search icon'></i>
      </div>
    </div>

    <div class='item'>
      <a href='/user' class='ui button'>Личный кабинет</a>
    </div>

    <div class='item'>
      <a href='/cp/adv' class='ui primary button'>Подать обьявление</a>
    </div>
  </div>
</div>

<%
this.first(function()
{
  this.find('.dropdown').dropdown();
})
%>