<div class='ui container page hat'>
  <div class='descriptor'>
    <img class='ui tiny image' src='/img/logo.png' />
    <div class='title'>
      Обмен
    </div>
  </div>

  <div class='description'>
    <span class='heading'>Бесплатный обмен товаров</span>
    Техника, одежда, ... и многое другое
  </div>

  <div class='ui menu'>
    <%= this.DeferRender('adv/categories') %>

    <div class='item'>
      <%= this.DeferRender('blocks/search/input', {}) %>
    </div>

    <div class='item'>
      <a href='/user' class='ui button'>Личный кабинет</a>
    </div>

    <div class='item'>
      <a href='/cp/adv' class='ui primary button'>Подать обьявление</a>
    </div>
  </div>
</div>