<%/*

<div class='home'>
  <div class='ui fluid steps'>
    <div class='active step'>
      <i class='search icon'></i>
      <div class='content'>
        <div class='title'>Найдите</div>
        <div class='description'>Найдите обьявление в своем городе</div>
      </div>
    </div>

    <div class='active step'>
      <i class='call icon'></i>
      <div class='content'>
        <div class='title'>Напишите</div>
        <div class='description'>Свяжитесь с владельцем обьявления</div>
      </div>
    </div>

    <div class='active step'>
      <i class='checkmark green icon'></i>
      <div class='content'>
        <div class='title'>Обменяйте</div>
        <div class='description'>Совершите обмен на то что вам нужно</div>
      </div>
    </div>
  </div>
</div>

*/%>

<div class='home'>
</div>