<div class='profile page'>
  <div class='profile head'>
    <div class='ui grid'>
      <div class='three wide column'>
        <img src='<%@ this.user.avatar[2] %>' class='ui fluid image'/>
      </div>
      <div class='six wide column'>
        <h1><%@ this.user.name[0] %> <%@ this.user.name[1] %></h1>
        <div class='ui label'><%@ this.user.city %></div>
      </div>
  </div>

  <div class="ui items">
    <h2>Обьявления пользователя</h2>
  <%
  for (var k in this.adv)
  {
    var v = this.adv[k];
  %>
    <%= this.DeferRender('blocks/adv', {adv: v}) %>
  <%
  }
  %>
  </div>
</div>