<div class="ui shape email form">
  <div class="sides">
    <div class="side active">
      <div class='ui fluid email input'>
        <input tabindex='-1' placeholder='email'>
      </div>
    </div>
  </div>
</div>

<%
this.first(function()
{
  var me = this;

  me.find('input').one('focus', function()
  {
    me.find('.sides').append(phoxy.DeferRender('auth/email/form.logic', {form: me}));
  })
})
%>