<%
if (typeof this.messages === 'undefined')
  this.messages = [this.message];

function FilterEmpty(messages)
{
  var ret = [];

  for (var k in messages)
  {
    var v = messages[k];
    if (v.text.match(/^\s*/)[0].length == v.text.length)
      continue; // empty
    ret.push(v);
  }

  return ret;
}

this.messages = FilterEmpty(this.messages);
if (this.messages.length == 0)
  return;
%>


<div class="comment">
  <% this.DeferRender('blocks/profile/avatar', this.author) %>
  <div class="content">
    <% this.DeferRender('blocks/profile/link', this.author) %>
    <div class="metadata">
      <div class="date"><%@ this.messages[0].snap %></div>
    </div>
<%
for (var k in this.messages)
{
  var v = this.messages[k];
%>
    <div class="text <%@ v.readed ? '' : 'unread' %>">
      <%@ v.text %>
    </div>
<%
}
%>
  </div>
</div>