<%
var uid = __context.uid;
if (uid == undefined)
{
  if (__context.messages != undefined)
    uid = __context.messages[0].uid;
  else
    uid = __context.message.uid;
}
%>

<div>
<% this.DeferRender('talk/comment', function(cb)
{
  phoxy.ApiRequest(['cp/profile/info', uid], function(r)
  {
    __context.author = r.data;
    cb(__context);
  })
}) %>
</div>