<%
debugger;
%>
<div class='ui small modal talk'>
  <div class='header'>
    Обмен
  </div>
  <div class='content'>
   <div class="image">
      <%= this.DeferRender(['cp/adv/imagelink', this.adv]) %>
    </div>
    <div class="description">
      Предлагаю обменять на одну из вещей:
<%
for (var k in this.offer)
{
  var v = this.offer[k];
%>
  <%= this.DeferRender(['cp/adv/imagelink', v], undefined, function()
  {
    this.first().find('img').addClass('tiny').removeClass('fluid');
  }) %>
<%
}
%>
      <div class=''>
      </div>
    </div>
  </div>
  <div class='actions'>
      <div class='ui fluid action input'>
        <input>
        <div class='ui positive button send'>
          <i class='envelope icon'></i>
          <span>Отправить</span>
        </div>
      </div>
  </div>
</div>

<%
this.first(function()
{
  this.first()
    .modal
    ({
      onApprove: function()
      {
        return false;
      },
      onHidden: function()
      {
        __context.first().remove();
      }
    })
    .modal('show');

  var send = this.first().find('.send.button');
  send.click(function()
  {
    send.addClass('active');
    phoxy.Defer(function()
    {
      send.removeClass('active');
    }, 1000);
  })
})
%>