<div class='ui icon search input'>
  <input placeholder="Найти" />
  <i class='search icon'></i>
</div>

<%
this.first(function()
{
  var input = this.find('input');

  input.focus(function()
  {
    if (typeof window.search === 'undefined')
      phoxy.ApiRequest('adv/search/Prepare');
  })

  input.keyup(function()
  {
    if (typeof window.search === 'undefined')
      return;
    window.search($(this).val());
  })
})
%>