<div class='results'>
<%
if (this.rows.length === 0)
{
%>
<h2>
  Ничего не найдено, простите
  <i class='icon link close'></i>
</h2>
<%
}
else
{
%>
  <h2>
    Найдено <%@ this.rows.length %> объявлений
    <i class='icon link close'></i>
  </h2>
<%
  for (var k in this.rows)
  {
    var v = this.rows[k];
%>
  <div class='ui list'>
    <div class='item'>
      <div class='ui small image'>
<%
  if (!v.images)
    v.images = ["/img/placeholder.png"];
%>
        <img src='<%@ v.images[0] %>' />
      </div>
      <div class='content'>
        <a class='header' href='/cp/adv(<%@ v.id %>)'>
          <%@ v.name %>
        </a>
        <div class='description'>
          <%@ v.descr %>
        </div>
      </div>
    </div>
  </div>
<%
  }
}
%>
</div>

<%
this.first(function()
{
  this.find('.close').click(function()
  {
    search.DeActivate();
  })
})
%>