<div>
  <h1>Предложить на обмен</h1>
  <h2>Опишите в двух словах что вы хотели бы обменять</h2>
  <form class="ui fluid form">
    <h4 class="ui dividing header">Изображения</h4>
    <%= this.DeferRender('utils/image') %>

    <h4 class="ui dividing header">Название</h4>
    <div class='ui input name'>
      <input />
    </div>

    <h4 class="ui dividing header">Текст обьявления</h4>
    <div class='ui input descr'>
      <textarea></textarea>
    </div>

    <div class='ui button'>
      Создать
    </div>
  </div>
</div>

<%
function CollectImages()
{ // todo: through chain
  var images = [];
  __context.first().find('.files.to.upload img.ok').each(function()
  {
    images.push(
    {
      id: $(this).attr('iid'),
      name: $(this).attr('name'),
    });
  })

  return images;
}

this.first(function()
{
  var first = this.first();
  first.find('.button').click(function()
  {
    var name = first.find('.name input').val();
    var descr = first.find('.descr textarea').val();

    phoxy.ApiRequest(['cp/adv/Add', name, descr, CollectImages()], function(r)
    {
      if (typeof r.refuse != 'undefined')
        return;
      phoxy.MenuCall(['cp/adv', r.data.Add]);
    })
  })
})
%>