<div class='adv fullpage block'>
  <h2 class='ui dividing header'>
    <a href="/cp/adv(<%@ this.adv.id %>)"><%@ this.adv.name %></a>
  </h2>


  <div class="ui small breadcrumb">
    <a class='section'>Обьявления</a>
    <i class="right chevron icon divider"></i>
    <a class='section'>Категория</a>
    <i class="right chevron icon divider"></i>
    <a class='section'>Меняю</a>
  </div>

  <div class='ui stackable grid'>
    <div class='nine wide column'>
      <% this.DeferRender('blocks/image/with_thumbnails', {images: this.adv.images}) %>
    </div>
    <div class='seven wide column'>
      <div class='ui label'>
        <a>Категория1</a>
      </div>
      <i class="right floated like link icon"></i>
      <i class="right floated star link icon"></i>
      <%= this.DeferRender(['user/link', this.adv.owner]) %>

      <div class='ui header'>
        <%@ this.adv.name %>
      </div>

      <div class="ui tiny grey header">
        Обьявление #<%@ this.adv.id %>
        от <%= this.DeferRender('utils/snaptodate', {date: this.adv.snap}) %>
      </div>

      <div class='ui segment'>
        <div><%@ this.adv.descr %></div>

        <%= this.DeferRender('blocks/adv/start-talk', {adv: this.adv }) %>
      </div>
    </div>
  </div>
</div>