<div class='adv fullpage block'>
  <% this.DeferRender('blocks/crumbs/by-category', {id: this.adv.category, last_active: true}) %>
  <b class='ui header'>
    <a href="/cp/adv(<%@ this.adv.id %>)"><%@ this.adv.name %></a>
  </b>

  <div class='ui stackable grid segment'>
    <div class='nine wide column'>
      <% this.DeferRender('blocks/image/with_thumbnails', {images: this.adv.images}) %>
    </div>
    <div class='seven wide column'>
      <% this.DeferRender('blocks/category/label.by-id', {id: this.adv.category}) %>
<% /*
      <i class="right floated like link icon"></i>
      <i class="right floated star link icon"></i>
*/ %>
      <%= this.DeferRender(['user/link', this.adv.owner]) %>

      <div class='ui header'>
        <%@ this.adv.name %>
      </div>

      <div class="ui tiny grey header">
        Обьявление #<%@ this.adv.id %>
        от <%= this.DeferRender('utils/snaptodate', {date: this.adv.snap}) %>
      </div>

      <div class='ui segment'>
        <div><%@ this.adv.descr %></div>

        <%= this.DeferRender('blocks/adv/start-talk', {adv: this.adv }) %>
      </div>
    </div>
  </div>
</div>