<div class='adv fullpage block'>
  <% this.DeferRender('blocks/crumbs/by-category', {id: this.adv.category, last_active: true}) %>
  <b class='ui header'>
    <a href="/cp/adv(<%@ this.adv.id %>)"><%@ this.adv.name %></a>
  </b>

  <div class='ui stackable grid segment'>
    <div class='nine wide column'>
      <% this.DeferRender('blocks/image/with_thumbnails', {images: this.adv.images}) %>
    </div>
    <div class='seven wide column'>
      <% this.DeferRender('blocks/adv/main', this) %>
    </div>
  </div>
</div>

<%
this.DeferCascade(function()
{
  this.first().find('.title.header').remove();
})
%>