<div class="ui page dimmer auth">
  <div class="content">

    <div class="center">
      <h3>Войдите для продолжения</h3>
      <p>(нажмите на иконку)</p>
      <div class='buttons'>
        <a class='hipster' href="/auth/vkcom"><i class="vk icon bait"></i></a>
      </div>
      <div class='email area'>
        <p>(или введите почту)</p>
        <% this.DeferRender('auth/email/form', {}) %>
      </div>
    </div>
  </div>
</div>

<%
function popitup(url)
{ // http://www.quirksmode.org/js/popup.html
  newwindow = window.open(url,'auth','height=500,width=800');
  if (window.focus)
    newwindow.focus();
  return false;
}

this.first(function()
{
  this.dimmer(
  {
    onHide:
      function()
      {
        if (phoxy.state.first_page)
          return;
        if (typeof __context.original_callstack == 'function')
          return __context.original_callstack();
        phoxy.Log(3, "Login modal: No 'catch' statement detected");
      }
    ,
    onHidden:
      function()
      {
        __context.first().remove();
      }
  });

  this.dimmer('show');
  this.find('.buttons a').click(function()
  {
    return popitup($(this).attr('href'));
  })
})
%>
