<div class='ui small image'>
  <img src='/img/placeholder.png' />
</div>

<%
var f = this.file;
var img;
this.first(function()
{
  img = this.first().find('img');
  // Only process image files.
  if (!f.type.match('image.*'))
    return;

  var reader = new FileReader();

  // Closure to capture the file information.
  reader.onload = (function(theFile) {
    return function(e) {
      // Render thumbnail.
      img.attr('src', e.target.result);

      __context.first().append(phoxy.DeferRender('image/upload', {obj: img}));
    };
  })(f);

  // Read in the image file as a data URL.
  reader.readAsDataURL(f);
})
%>
