<%
this.DeferCascade(function()
{
  var button = this.first();
  var popup = button.next();

  button
    .popup({
      inline   : true,
      hoverable: true,
      position : 'bottom left',
      on: 'click',
    })
    .click(function()
    {
      popup.addClass('visible');
    })

  popup.find('a').click(function()
  {
    button.popup('hide');
  })
})
%>
<div class='item'>
  <div class='ui right labeled icon button'>
    Категория
    <i class='filter icon'></i>
  </div>
</div>
<div class="ui flowing popup transition">
  <%= this.DeferRender('utils/stack_categories', this) %>
</div>