<%
var divide_by = 4;
var divide_word = 'four';
var i = 0;

function BeginTable()
{
  %><div class="ui <%@ divide_word %> column relaxed divided grid"><%
}

function EndTable()
{
  %></div><%
}

function BeginColumn(v)
{
%>
  <div class="column">
    <a href='/adv/categories/Show(<%@ v.id %>)' data-id='<%@ v.id %>'>
      <h4 class="ui header"><%@ v.title %></h4>
    </a>
    <div class="ui link list">
<%
}

function EndColumn()
{
%>
    </div>
  </div>
<%
}

function Row(v)
{
  %>
      <a class="item" href='/adv/categories/Show(<%@ v.id %>)' data-id='<%@ v.id %>'>
        <%@ v.title %>
      </a>
  <%
}

BeginTable();
for (var k in this.categories)
{
  var v = this.categories[k];
  if (v.nlevel < 2)
    continue;

  if (v.nlevel > 2)
  {
    Row(v);
    continue;
  }

  if (i != 0)
    EndColumn();

  i++;
  if ((i % (1+divide_by)) == 0)
  {
    EndTable();
    BeginTable();
  }

  BeginColumn(v);
}

EndTable();

%>